.artista-img {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    img {
        width: 30px;
        height: 30px;
        object-fit: contain;
        border-radius: 50%;
    }
}
.album-info {
    display: flex;
    align-items: flex-end;
    h1 {
        font-size: 50px;
        margin-block: 15px;
    }
    h5 {
        margin-left: 10px;
    }
    h6 {
        margin-bottom: 45px;
    }
}
.album-details {
    margin-top: 55px;
}
.album-img {
    margin: 25px;
}
//tracks
.album-tracks {
    background-color: $bg-button;
}
.album-play {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $green;
    font-size: 15px;
    border: none;
    i {
        vertical-align: middle;
    }
}
.album-buttons{
    margin-left: 20px;
    padding-top: 20px;
}
.album-btn {
    border: none;
    background-color: $bg-button;
    color: $text-gray;
    font-size: 20px;
    margin-inline: 8px;
    vertical-align: sub;
}
.album-legend {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-inline: 30px;
}
.genera-tracce {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-inline: 30px;
    div p {
        margin: 0px;
    }
    div h4 {
        margin-bottom: 5px;
    }
    .row-tracks {
        display: flex;
        justify-content: space-between;
       
    }
    .ta {
        width: 250px;
    }
    .ranks {
        margin-right: 200px;
    }
}