// .sd-right{
//     max-width: 20%;
// }
// .l{
//     display: flex;
//     background-color: $bg-box;
//     align-items: center;
//     border: 0px;
// }
// .add{
//     display: flex;
//     background-color: $bg-box;
//     align-items: center;
//     border: 0px;
// }
// .like{
//     display: flex;
//     background-color: $bg-box;
//     align-items: center;
//     border: 0px;
// }
// .bookmark{
//     display: flex;
//     background-color: $bg-box;
//     align-items: center;
//     border: 0px;
// }
// .paragraph{
//     padding-left: 10px;
// }
// main{
//     max-width: 60%;
// }

.btn-side{
    display: flex;
    background-color: $bg-box;
    align-items: center;
    border: none;
    border-radius: 10px;
    width: 100%;
    opacity: 0.8;
    
    p{
        margin: 8px;
        padding-left: 15px;
        width: 100%;
        text-align: start;
        text-decoration: none;
    }
}

.btn-side:hover{
    opacity: 1;
}

.playlist{
    font-family: 'Albert sans', sans-serif;
    font-weight: 400;
    p{
        text-decoration: none;
    }
}

