.sd-right{
    max-width: 20%;
}
.l{
    display: flex;
    background-color: $bg-box;
    align-items: center;
    border: 0px;
}
.add{
    display: flex;
    background-color: $bg-box;
    align-items: center;
    border: 0px;
}
.like{
    display: flex;
    background-color: $bg-box;
    align-items: center;
    border: 0px;
}
.bookmark{
    display: flex;
    background-color: $bg-box;
    align-items: center;
    border: 0px;
}
.paragraph{
    padding-left: 10px;
}
main{
    max-width: 60%;
}