.btn-side{
    display: flex;
    background-color: $bg-box;
    align-items: center;
    border: none;
    border-radius: 10px;
    width: 100%;
    
    p{
        padding-left: 20px;
        width: 100%;
        text-align: start;
        text-decoration: none;   
    }
}
