// colors
$green: #1ed760;
$white: #ffffff;
$text-gray: #a6a6a6;
$bg-button: #232323;
$bg-card: #181818;
$bg-box: #121212;
$bg-color: #000000;

// fonts
.h1, h1{
    font-size: 32px;
    font-family: 'CircularStd-900', 'Albert sans', sans-serif;
    font-weight: 900;
    line-height: 36px;
}

.h2, h2{
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
}

.h3, h3{
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
}

.h4, h4{
    font-size: 16px;
    font-family: 'CircularStd-400', 'Albert sans', sans-serif;
    font-weight: 400;
    line-height: 26px;
}

.h5, h5{
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
}

.h6, h6{
    font-size: 12px;
    font-weight: 700;
    line-height: 19px;
    color: #b3b3b3;
    text-transform: uppercase;
}

.p, p{
    font-size: 14px;
    font-family: 'CircularStd-400', 'Albert sans', sans-serif;
    font-weight: 400;
    line-height: 22px;
    color: #b3b3b3;
}

//underline
.h2:hover, h2:hover, .h6:hover, h6:hover, .p:hover, p:hover {
    text-decoration: underline;
}
//overlay
.p:hover, p:hover {
    color: $white;
}


