@import "./variables";
@import "./navbar";
@import "./sidebar-left";
@import "./main";
@import "./sidebar-right";
@import "./album";
@import "./home";
@import "./artist";


@font-face {
    font-family:'CircularStd';
    src: url(../fonts/CircularStd-Black.otf);
    // src: url(../fonts/CircularStd-BlackItalic.otf);
    src: url(../fonts/CircularStd-Bold.otf);
    // src: url(../fonts/CircularStd-BoldItalic.otf);
    src: url(../fonts/CircularStd-Medium.otf);
    // src: url(../fonts/CircularStd-MediumItalic.otf);
    src: url(../fonts/CircularStd-Book.otf);
    // src: url(../fonts/CircularStd-BookItalic.otf);
}
@font-face {
    font-family:'CircularStd-900';
    src: url(../fonts/CircularStd-Black.otf);
}
@font-face {
    font-family:'CircularStd-400';
    src: url(../fonts/CircularStd-Medium.otf);
}
@font-face {
    font-family:'CircularStd-200';
    src: url(../fonts/CircularStd-Book.otf);
}

body{
    background-color: $bg-color;
    color: white;
    font-family: 'CircularStd', sans-serif;
}

.container{
    display: flex;
    justify-content: space-between;
}

.sidebar{
    width: 20%;
    height: 100%;
    margin: 10px;
    background-color: $bg-box
}

.box{
    background-color: $bg-box;
    border-radius: 10px;
    
    height: 80%;
    padding: 30px;  
    
    position: fixed;
    top: 80px;
}

.dx{
    top: 80px;
    right:10px;
    ;
}

.main{
    width: 60%;
    height: 100%;
    margin: 80px 0;
    
}