@import "./variables";
@import "./navbar";
@import "./sidebar-left";
@import "./sidebar-right";
@import "./album";
@import "./home";
@import "./artist";


@font-face {
    font-family:'CircularStd';
    src: url(../fonts/CircularStd-Black.otf);
    // src: url(../fonts/CircularStd-BlackItalic.otf);
    src: url(../fonts/CircularStd-Bold.otf);
    // src: url(../fonts/CircularStd-BoldItalic.otf);
    src: url(../fonts/CircularStd-Medium.otf);
    // src: url(../fonts/CircularStd-MediumItalic.otf);
    src: url(../fonts/CircularStd-Book.otf);
    // src: url(../fonts/CircularStd-BookItalic.otf);
}
@font-face {
    font-family:'CircularStd-900';
    src: url(../fonts/CircularStd-Black.otf);
}
@font-face {
    font-family:'CircularStd-400';
    src: url(../fonts/CircularStd-Medium.otf);
}
@font-face {
    font-family:'CircularStd-200';
    src: url(../fonts/CircularStd-Book.otf);
}

body{
    background-color: $bg-color;
    color: white;
    font-family: 'CircularStd', sans-serif;
}

.container{
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
}

.box{
    padding: 20px;
}

.fix{
    position: fixed;  
    background-color: $bg-box;
    border-radius: 10px;
    padding: 20px;
    width: 17.8%;
    height: 86vh;
    top: 70px;   
}

.sd-left{
    left: 10px;
}
.sd-right{
    right: 10px;
}

.side{
    width: 20%;
    height: 86vh;
    margin: 10px;   
}

.main{
    width: 60%;
    height: 100%;
    margin: 10px 0;
    background-color: $bg-box;
    border-radius: 10px;
    padding: 20px;
}

.sidebar{
    position: fixed;
}
