.h1, h1 {
  font-size: 32px;
  font-family: "CircularStd-900", "Albert sans", sans-serif;
  font-weight: 900;
  line-height: 36px;
}

.h2, h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
}

.h3, h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
}

.h4, h4 {
  font-size: 16px;
  font-family: "CircularStd-400" "Albert sans", sans-serif;
  font-weight: 400;
  line-height: 26px;
}

.h5, h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
}

.h6, h6 {
  font-size: 12px;
  font-weight: 700;
  line-height: 19px;
  color: #b3b3b3;
  text-transform: uppercase;
}

.p, p {
  font-size: 14px;
  font-family: "CircularStd-400" "Albert sans", sans-serif;
  font-weight: 400;
  line-height: 22px;
  color: #b3b3b3;
}

.h2:hover, h2:hover, .h6:hover, h6:hover, .p:hover, p:hover {
  text-decoration: underline;
}

.p:hover, p:hover {
  color: #ffffff;
}

.topbar {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #000000;
}

.btn {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  color: #ffffff;
  margin: auto;
  background-color: #121212;
}

.btn:hover {
  background-color: #232323;
}

.search {
  display: flex;
}

.home {
  width: 50px;
  height: 50px;
  background-color: #232323;
  color: #ffffff;
  -webkit-text-stroke-color: red;
  -webkit-text-stroke-width: medium;
}

path {
  color: whitesmoke;
}

.input {
  margin: 0 10px;
  height: 50px;
  border-radius: 30px;
  background-color: #232323;
}
.input .btn {
  width: 50px;
  height: 50px;
  background-color: #232323;
}
.input input {
  width: 400px;
  height: 50px;
  border: none;
  border-radius: 0px 30px 30px 0px;
  color: #a6a6a6;
  padding: 0 10px;
  margin: auto;
  background-color: #232323;
}
.input input:focus, .input input:active, .input input:enabled {
  border: none;
}

.user {
  height: 40px;
  width: 40px;
  padding: 5px;
  background-color: #232323;
  border-radius: 50%;
}

.sd-right {
  max-width: 20%;
}

.l {
  display: flex;
  background-color: #121212;
  align-items: center;
  border: 0px;
}

.add {
  display: flex;
  background-color: #121212;
  align-items: center;
  border: 0px;
}

.like {
  display: flex;
  background-color: #121212;
  align-items: center;
  border: 0px;
}

.bookmark {
  display: flex;
  background-color: #121212;
  align-items: center;
  border: 0px;
}

.paragraph {
  padding-left: 10px;
}

main {
  max-width: 60%;
}

.main {
  width: 60%;
  height: 100%;
}

.library-row {
  display: flex;
}

.sd-right {
  max-width: 20%;
}

.att-amici {
  margin-bottom: 30px;
  display: flex;
  align-content: center;
  flex-wrap: nowrap;
  align-items: baseline;
  justify-content: space-between;
}

.icon-amici {
  display: flex;
}
.icon-amici i {
  margin-left: 10px;
}

.amico {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
.amico p, .amico h5 {
  margin: 0px;
}
.amico .friend-data {
  margin-left: 15px;
  margin-right: 20px;
}
.amico .friend-time {
  text-align: end;
}

.main {
  background-color: #121212;
  border-radius: 10px;
  padding: 0 10px;
}

.title-item {
  margin-top: 10px;
}

#contenitor-submit {
  display: flex;
  align-items: center;
}

.icon-play {
  font-size: 50px;
}

#icon-item-play {
  border-radius: 50%;
  background-color: black;
  color: #1ed760;
}

.follow {
  padding: 5px 10px;
  color: #ffffff;
  background-color: transparent;
  margin-left: 10px;
  border-radius: 5px;
}

#list-item {
  padding-bottom: 10px;
}

.allineamento {
  display: flex;
  align-items: center;
}

.number-item {
  margin-right: 10px;
  color: #a6a6a6;
}

.img-album {
  padding-right: 10px;
}

.visualize {
  width: 100%;
  color: #a6a6a6;
  text-align: center;
}

.duration {
  width: 100%;
  color: #a6a6a6;
  text-align: end;
}

@font-face {
  font-family: "CircularStd";
  src: url(../fonts/CircularStd-Black.otf);
  src: url(../fonts/CircularStd-Bold.otf);
  src: url(../fonts/CircularStd-Medium.otf);
  src: url(../fonts/CircularStd-Book.otf);
}
@font-face {
  font-family: "CircularStd-900";
  src: url(../fonts/CircularStd-Black.otf);
}
@font-face {
  font-family: "CircularStd-400";
  src: url(../fonts/CircularStd-Medium.otf);
}
@font-face {
  font-family: "CircularStd-200";
  src: url(../fonts/CircularStd-Book.otf);
}
body {
  background-color: #000000;
  color: white;
  font-family: "CircularStd", sans-serif;
}

.container {
  display: flex;
}

.box {
  background-color: #121212;
  border-radius: 10px;
  padding: 20px;
}

.side {
  width: 20%;
  height: 100%;
  margin: 10px;
}

.main {
  width: 60%;
  height: 100%;
  margin: 10px 0;
}

/*# sourceMappingURL=styles.css.map */
